:root {
  --category-min-icon-size: 1.5em;
  --max-icon-size: 3em;

  --category-base-font-size: 2em;
  --category-min-font-size: 0.35em;
  --category-max-font-size: 2.5em;

  --min-border: 2px;
  --max-border: 4px;

  --min-outline-width: 3px;
  --max-outline-width: 6px;
}
.category-list-container {
  margin: auto;
  width: 90%;

  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-card {
  position: relative;
  width: 6vw;
  height: auto;
  min-width: 100px;
  min-height: 150px;
  flex-direction: column;
  margin-bottom: 2%;
  padding: clamp(40px, 2vw, 60px);
  gap: 0.8em;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  border: clamp(var(--min-border), 0.5vw, var(--max-border)) solid
    var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(var(--min-outline-width), 0.5vw, var(--max-outline-width))
    solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
}

.category-card:hover {
  outline: clamp(var(--min-outline-width), 0.5vw, var(--max-outline-width))
    solid var(--outline-hover-color);
}

.category-card-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  background-color: #be3144;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.category-card-delete-icon:hover {
  transform: scale(1.2);
}

.category-card > img {
  pointer-events: none;
  width: 100%;
}

.category-card > label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

  color: #20618e;
  text-align: center;
  font-weight: bold;
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
  line-height: 1.5;
  pointer-events: none;
  margin: auto;
  overflow-wrap: break-word;
  inline-size: 80%;
}

.category-card:focus,
.category-card:active {
  outline: clamp(var(--min-outline-width), 0.5vw, var(--max-outline-width))
    solid var(--outline-color);
}

@media (max-width: 1024px) {
  .category-card {
    padding: clamp(10px, 2.5vw, 20px);
  }
}

@media (max-width: 768px) {
  .category-card {
    width: 35%;
    gap: 5px;
    padding: clamp(8px, 2.5vw, 15px);
    border: clamp(var(--min-border), 0.5vw, var(--max-border)) solid
      var(--nav-btn-border);
    outline: clamp(var(--min-outline-width), 0.5vw, var(--max-outline-width))
      solid var(--outline-color);
  }

  .category-card > label {
    font-size: clamp(0.9em, 5vw, 1em);
  }
}

.category-form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: clamp(12px, 3vw, 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.category-input-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.category-upload-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-between;
}

.category-upload-section > h2 {
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
}

.image-preview-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-image-preview {
  width: clamp(50px, 10vw, 60px);
  cursor: pointer;
  height: auto;
}

.category-image-remove-btn {
  cursor: pointer;
  position: absolute;
  background-color: rgb(237, 141, 141);
  border: none;
  right: -10px;
  top: -10px;
}

.category-image-remove-btn:hover {
  background-color: red;
}

.category-input {
  width: 100%;
  padding: clamp(10px, 2vw, 18px);
  border-radius: 8px;
  border: 1px solid #20618e;
  background: #dff1ff;
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
  color: #20618e;
  resize: none;
  font-weight: bold;
  box-sizing: border-box;
  outline: none;
}

.category-input::placeholder {
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
  font-weight: bold;
  color: #888;
}

.category-input::-webkit-scrollbar {
  width: 13px;
  cursor: pointer;
}

.category-input::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

.category-input::-webkit-scrollbar-thumb {
  background: #20618e;
  cursor: pointer;
}

.category-label {
  font-weight: bold;
  margin-bottom: 6px;
  margin-left: 3%;
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
  color: #dff1ff;
}

.image-button {
  flex: 0.7;
  min-width: 120px;
  padding: clamp(8px, 1.5vw, 10px) clamp(10px, 2vw, 20px);
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  color: #20618e;
  font-weight: bold;
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
  background: var(--nav-btn-gradient);
  transition: background 0.3s ease-in-out;
}

.image-button img {
  width: 30px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .category-form-container {
    width: 85%;
    padding: clamp(10px, 2.5vw, 16px);
  }

  .image-button {
    font-size: clamp(1rem, 3vw, 2rem);
    padding: clamp(8px, 2vw, 10px) clamp(8px, 2vw, 16px);
  }
}

@media screen and (max-width: 480px) {
  .category-form-container {
    width: 100%;
    padding: 12px;
  }

  .category-input,
  .category-input::placeholder,
  .category-upload-section > h2 {
    font-size: clamp(0.9em, 3vw, 2em);
  }

  .category-label {
    font-size: clamp(1rem, 3vw, 16px);
  }

  .image-button {
    font-size: clamp(0.9em, 3vw, 2em);
    padding: 8px 12px;
    width: 100%;
  }

  .image-button img {
    width: 25px;
    height: auto;
  }
}

.category-question-list-container {
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.import-button-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.category-question-card-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.category-question-card-delete {
  cursor: pointer;
  height: 60px;
  width: 60px;
}

.category-question-card {
  display: flex;
  justify-content: space-between;
  padding: clamp(10px, 1vw, 10px) clamp(10px, 3vw, 20px);
  width: 70%;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: var(--button-shadow);
  border: clamp(var(--min-border), 0.1vw, var(--max-border)) solid
    var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(var(--min-outline-width), 0.3vw, var(--max-outline-width))
    solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
}

.category-question-card:hover {
  /* transform: scale(1.02); */
  outline: clamp(var(--min-outline-width), 0.5vw, var(--max-outline-width))
    solid var(--outline-hover-color);
}

.category-question-card > span {
  pointer-events: none;
  word-break: break-all;
  color: #20618e;
  font-weight: bold;
  font-size: clamp(
    var(--category-min-font-size),
    1vw,
    var(--category-base-font-size)
  );
}

.category-question-card-icon-container {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.category-question-next-icon {
  pointer-events: none;
  width: 15px;
}

.category-question-delete-icon {
  cursor: pointer;
  color: white;
  background-color: #be3144;
  padding: 10px;
  border-radius: 50%;
  /* width: 15px; */
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
  /* font-size: clamp(10px, 2vw, 30px); */
}

.category-question-delete-icon:hover {
  transform: scale(1.2);
}

.category-question-list-import {
  width: fit-content;
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.importButton {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--start-btn-gradient);
  border: 3px solid #bce17c;
  padding: 5px clamp(10px, 2vw, 25px);
  border-radius: 20px;
  width: fit-content;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
  outline: clamp(var(--min-outline-width), 0.3vw, var(--max-outline-width))
    solid var(--outline-color);
}

.importButton > img {
  height: clamp(20px, 3vw, 30px);
}

.importButton > svg {
  margin-left: 20px;
  font-size: clamp(6rem, 5vw, 5rem);
  font-weight: bold;
  width: 10rem;
  height: auto;
}

.importButton > svg > .svgText {
  stroke: #3d6600;
  stroke-width: 10px;
  stroke-linejoin: round;
  paint-order: stroke;
}

@media screen and (max-width: 1024px) {
  .category-question-card {
    width: 70%;
  }

  .import-button-group {
    width: 80%;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .category-question-card {
    width: 90%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .importButton > svg {
    width: 5rem;
  }
}
