.question-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  max-width: 70%;
  margin: 2rem auto;
}

.question-select-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
  gap: clamp(1rem, 1vw, 1.6rem);
}
.question-mode-container,
.age-range-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: clamp(1rem, 3vw, 1.8rem);
}

.question-mode-select > select,
.age-range-select > select {
  appearance: none;
  border-radius: 8px;
  height: fit-content;
  box-shadow: var(--button-shadow);
  border: clamp(2px, 0.5vw, 4px) solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(2px, 0.5vw, 4px) solid var(--outline-color);
  padding: clamp(0.6rem, 2vw, 0.8rem);
  flex: 1;
  font-size: clamp(0.6em, 2vw, 0.8em);
  font-weight: bold;
  color: #20618e;
  cursor: pointer;
}

.question-mode-select > select > option,
.age-range-select > select > option {
  background: #fff;
  font-size: clamp(0.6em, 2vw, 0.8em);
}
.question-mode-select > select::-ms-expand,
.age-range-select > select::-ms-expand {
  display: none;
}

.question-mode-container > h2,
.age-range-container > h2 {
  font-size: clamp(0.6em, 2vw, 0.8em);
}

.question-mode-select,
.age-range-select {
  position: relative;
  display: flex;
  width: clamp(10rem, 20vw, 15em);
  height: clamp(2em, 5vw, 4em);
}

.question-mode-select::after,
.age-range-select::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 5%;
  width: clamp(1px, 0.8vw, 2px);
  height: clamp(1px, 0.8vw, 2px);
  background-image: url("/images/categories/question-dropdown-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: clamp(0.6em, 2vw, 1em);
  transition: 0.25s all ease;
  pointer-events: none;
}

.question-container {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: clamp(120px, 10vw, 140px);
  border: clamp(5px, 1vw, 6px) solid #6ba6fb;
  box-shadow: 0px 0px 20px #6ba6fb;
  background-color: #08124d;
  justify-content: space-around;
  gap: clamp(1.5rem, 3vw, 2rem);
  align-items: center;
  padding: clamp(20px, 4vw, 30px) clamp(5px, 1vw, 5px);
}

.question-instruction {
  margin-left: clamp(0.8rem, 2vw, 1rem);
  font-size: clamp(0.6em, 2vw, 0.8em);
  text-align: center;
}

.question-input {
  width: 90%;
  /* flex: 1; */
  text-align: center;
  height: 100%;
  min-height: 30px;
  color: #f9fcff;
  resize: none;
  font-weight: lighter;
  background: transparent;
  transition: transform 0.2s ease-in-out;
  font-size: clamp(0.6em, 2vw, 0.8em);
  outline: none;
  border: none;
  padding: clamp(0.8rem, 2vw, 1rem);
}

.question-input::placeholder {
  color: #f9fcff;
}

.question-input::-webkit-scrollbar {
  width: 13px;
  cursor: pointer;
}

.question-input::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

.question-input::-webkit-scrollbar-thumb {
  background: #20618e;
  cursor: pointer;
}

.file-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(15px, 2vw, 20px);
}

.file-actions > .change-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.3rem, 1vw, 0.5rem);
  width: clamp(160px, 5vw, 180px);
  height: clamp(60px, 5vw, 70px);
  border-radius: 10px;
  color: #20618e;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-weight: bold;
  box-shadow: var(--button-shadow);
  border: clamp(3px, 0.5vw, 4px) solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.file-actions > .change-btn > img {
  cursor: pointer;
  height: clamp(20px, 3vw, 25px);
}

.file-actions > .delete-btn {
  cursor: pointer;
  height: clamp(60px, 5vw, 70px);
}

.question-upload-button {
  display: flex;
  font-weight: bold;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: clamp(60px, 5vw, 70px);
  font-size: clamp(0.6em, 2vw, 0.8em);
  background: #1a2775;
  border: clamp(3px, 0.5vw, 4px) solid #4757af;
  color: #fff;
  border-radius: 25px;
  padding: clamp(10px, 2vw, 15px) clamp(40px, 4vw, 60px);
  min-width: clamp(200px, 10vw, 250px);
}

.question-uploaded-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: clamp(60px, 5vw, 70px);
  max-width: 500px;
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  background: #1a2775;
  border: clamp(3px, 0.5vw, 4px) solid #4757af;
  border-radius: 25px;
}

.question-upload-content {
  display: flex;
  gap: clamp(0.5rem, 1vw, 1rem);
  align-items: center;
}

.question-uploaded-image {
  max-width: clamp(40px, 4vw, 60px);
  max-height: clamp(40px, 45vw, 60px);
}

.uploaded-media {
  width: 100%;
  height: 100%;
}

.language-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.8rem, 1vw, 1rem);
  flex: 1;
}

.language-toggle > button {
  display: flex;
  padding: clamp(8px, 1.5vw, 10px);
  width: clamp(120px, 5vw, 180px);
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(3px, 0.5vw, 4px) solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
  color: #20618e;
  font-weight: bold;
  font-size: clamp(0.6em, 2vw, 0.8em);
}

.language-toggle > button.active {
  outline: clamp(3px, 0.5vw, 4px) solid var(--outline-hover-color);
}

.answer-button-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: clamp(40px, 5vw, 50px);
  gap: clamp(2rem, 3vw, 2.5rem);
  width: 100%;
}

.answer-button {
  display: flex;
  padding: clamp(15px, 2vw, 20px);
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  border: clamp(3px, 0.5vw, 4px) solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(5px, 1vw, 6px) solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
  gap: clamp(0.5rem, 1vw, 0.7rem);
}

.answer-button.selected {
  outline: clamp(5px, 1vw, 6px) solid var(--outline-hover-color);
}

.answer-button > label {
  cursor: pointer;
  color: #20618e;
  font-weight: bold;
  font-size: clamp(0.6em, 2vw, 0.8em);
  margin-bottom: clamp(0.4rem, 1vw, 0.5rem);
}

.answer-button > input {
  width: 100%;
  color: #20618e;
  font-weight: bold;
  border-radius: 15px;
  background: transparent;
  transition: transform 0.2s ease-in-out;
  padding: clamp(0.4rem, 1vw, 0.5rem);
  font-size: clamp(0.6em, 2vw, 0.8em);
  border: none;
  outline: none;
}

.answer-button > input::placeholder {
  color: #20618e;
}

.audio-player {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1vw, 1rem);
  padding: clamp(15px, 2vw, 20px);
  background: transparent;
  width: 100%;
}

.audio-play-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.audio-play-button > img {
  max-width: clamp(60px, 5vw, 70px);
  max-height: clamp(60px, 5vw, 70px);
}

.audio-info {
  width: 100%;
  overflow: hidden;
}

.audio-title-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.audio-title {
  color: #ffffff;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 500;
  white-space: nowrap;
  display: inline-block;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.audio-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: auto;
  height: clamp(8px, 1vw, 10px);
  width: 100%;
  background: #4757af;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.audio-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #ffffff;
}

.audio-progress::-moz-range-thumb {
  -moz-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.audio-progress::-ms-thumb {
  -ms-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.audio-time {
  color: #ffffff;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  font-weight: 500;
  width: 60px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.video-container {
  position: relative;
  display: inline-block;
}

.video {
  width: 100%;
  height: auto;
}

.video.play-pause-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 10;
}

.video.progress-bar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 80%;
  margin: 0 10%;
  background: #4757af;
  border-radius: 15px;
  border: none;
  height: clamp(4px, 1vw, 6px);
}

.video.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #ffffff;
}

.video.progress-bar::-moz-range-thumb {
  -moz-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.video.progress-bar::-ms-thumb {
  -ms-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.video.volume-control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10%;
  margin-bottom: 20px;
  border: none;
  height: clamp(4px, 1vw, 6px);
}

.video.volume-control > input {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  width: 15%;
  background: #4757af;
  border-radius: 15px;
  height: clamp(4px, 1vw, 6px);
}

.video.volume-control > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -407px 0 0 400px #ffffff;
}

.video.volume-control > input::-moz-range-thumb {
  -moz-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.video.volume-control > input::-ms-thumb {
  -ms-appearance: none;
  width: clamp(12px, 2vw, 15px);
  height: clamp(12px, 2vw, 15px);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .question-form-container {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .question-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .answer-button-group {
    grid-template-columns: repeat(1, 1fr);
  }
}
