.error-container {
  background-color: #ffe6e6;
  display: flex;
  margin: auto;
  flex-direction: column;
  color: #d9534f;
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid #d9534f;
}

.error-list {
  margin-left: 1.5rem;
  list-style-type: decimal;
  font-size: clamp(0.9em, 3vw, 2em);
}

.error-item {
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .error-container {
    margin: 0px 10px;
  }
}
