:root {
  --header-base-font-size: 1em;
  --header-min-font-size: 0.9em;
  --header-max-font-size: 1.6em;

  --header-min-stroke-width: 2px;
  --header-max-stroke-width: 6px;

  --header-min-icon-size: 1.5em;
  --header-max-icon-size: 2em;

  --header-icon-size: clamp(
    var(--header-min-icon-size),
    1.6vw,
    var(--header-max-icon-size)
  );
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.header-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.back-btn-container,
.right-btn-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 1%;
}

.back-btn,
.right-btn {
  width: 100%;
  height: auto;
  display: block;
  max-height: 150px;
}

.back-btn {
  max-width: 9rem;
}
.right-btn {
  max-width: 12rem;
}

.back-content,
.right-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 3%;
  align-items: center;
  justify-content: flex-end;
}

.back-icon,
.right-icon {
  height: var(--header-icon-size);
}

.back-svg-text {
  width: 60%;
  height: auto;
}

.right-svg-text {
  width: 100%;
  height: auto;
}

.back-svg-text > text,
.right-svg-text > text {
  font-size: clamp(
    var(--header-min-font-size),
    0.9vw,
    var(--header-base-font-size)
  );
  font-weight: var(--font-bold);
  stroke-width: clamp(
    var(--header-min-stroke-width),
    0.2vw,
    var(--header-max-stroke-width)
  );
  stroke-linejoin: round;
  paint-order: stroke;
}

.back-svg-text > text {
  stroke: #1e4e8a;
}

.right-svg-text > text {
  stroke: #3d6600;
}

.header-title-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.header-title-container > img {
  width: 100%;
  max-width: 30rem;
}

.title-svg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.title-svg-text > text {
  font-size: clamp(0.8em, 3vw, 1.6em);
  font-weight: bold;
  stroke-width: clamp(
    var(--header-min-stroke-width),
    0.5vw,
    var(--header-max-stroke-width)
  );
}

@media (max-width: 1024px) {
  /* .back-svg-text > text,
  .right-svg-text > text {
    font-size: clamp(
      var(--header-min-font-size),
      0.9vw,
      var(--header-base-font-size)
    );
  } */
}

@media (max-width: 768px) {
  .title-svg-text > text {
    font-size: clamp(1em, 4vw, 2em);
    stroke-width: clamp(1px, 0.3vw, 4px);
  }

  .back-icon,
  .right-icon {
    height: clamp(1.2em, 3vw, 2em);
  }
}

@media (max-width: 580px) {
  .title-svg-text > text {
    font-size: clamp(0.5em, 3.5vw, 1.4em);
    stroke-width: clamp(1px, 0.2vw, 3px);
  }

  .back-svg-text > text,
  .right-svg-text > text {
    font-size: 0.35em;
  }
  .back-icon,
  .right-icon {
    height: clamp(0.4em, 2.5vw, 1.8em);
  }
}
