.main-screen {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  position: absolute;
  width: clamp(100px, 12vw, 180px);
}

.top-left {
  top: 5%;
  left: 5%;
}
.top-right {
  top: 5%;
  right: 5%;
}
.bottom-left {
  bottom: 2%;
  left: -3%;
}
.bottom-right {
  bottom: 5%;
  right: -3%;
}
.bottom-center {
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}
.game-logo {
  width: clamp(200px, 30vw, 500px);
  transform: translate(5%, -10%);
}

.startButton {
  width: 15rem;
  background: var(--start-btn-gradient);
  border: 2px solid #bce17c;
  /* padding: clamp(10px, 2vw, 20px) clamp(8px, 1.5vw, 15px); */
  padding: 15px 0px;
  display: flex;
  align-items: center;
  /* gap: 1vw; */
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  transition: transform 0.2s ease-in-out;
  transform: translateY(-3rem);
  position: relative;
  outline: 2px solid var(--outline-color);
}

.startButton:hover {
  /* transform: translateY(-50px) scale(1.05); */
}
.startButton > img {
  margin-left: 40px;
  pointer-events: none;
  height: clamp(20px, 2vw, 30px);
}

.startButton > svg {
  pointer-events: none;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

.startButton > svg > .svgText {
  stroke: #3d6600;
  stroke-width: 6px;
  stroke-linejoin: round;
  paint-order: stroke;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  transform: translateY(-20px);
}

.navigationButton {
  min-width: 180px;
  padding: 15px 20px 15px 25px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: 3px solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
}

.navigationButton:hover {
  transform: scale(1.05);
}

.navigationButton > img {
  pointer-events: none;
  max-width: 100%;
  height: 30px;
}

.navigationButton > label {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #20618e;
  font-weight: bold;
  font-size: 12px;
  pointer-events: none;
}

.startButton:focus,
.startButton:active,
.navigationButton:focus,
.navigationButton:active {
  outline: 3px solid var(--outline-color);
}

@media (max-width: 1024px) {
  .icon {
    width: 18vw;
    max-width: 200px;
  }

  .game-logo {
    width: 50vw;
  }

  .navigationButton {
    min-width: 220px;
    padding: 12px 25px;
  }

  .startButton {
    width: 280px;
  }

  .navigationButton > label {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .icon {
    width: 20vw;
    max-width: 200px;
  }

  .game-logo {
    width: 50vw;
    min-width: 300px;
    transform: translate(5%, -15%);
  }

  .startButton {
    width: 200px;
    padding: 10px 10px;
    border-radius: 15px;
    border: 3px solid #bce17c;
    outline: 2px solid var(--outline-color);
    transform: translateY(-1.5rem);
  }

  /* .startButton > img {
    pointer-events: none;
    height: 20px;
  } */

  .navigation-container {
    gap: 20px;
    align-items: center;
  }

  .navigationButton {
    border-radius: 15px;
    outline: 3px solid var(--outline-color);
    padding: 10px 20px;
    text-align: center;
  }

  .navigationButton > img {
    pointer-events: none;
    height: 20px;
  }

  .navigationButton > label {
    font-size: 10px;
  }
}
