.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.dialog-box {
  text-align: center;
  position: relative;
  animation: slideIn 0.3s ease-in-out;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 70rem;
  height: auto;
  min-height: 30em;
  border: clamp(5px, 1vw, 6px) solid #6ba6fb;
  box-shadow: 0px 0px 20px #6ba6fb;
  background-color: #08124d;
  align-items: center;
  gap: 20px;
  justify-content: center;
  word-break: break-all;
  padding: clamp(20px, 4vw, 30px) clamp(5px, 1vw, 5px);
}

.dialog-title {
  font-size: clamp(0.9em, 3vw, 2em);
  color: #f9fcff;
}

.dialog-content {
  font-size: clamp(0.6em, 2.3vw, 1.8em);
  color: #f9fcff;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #f9fcff;
}

.close-button:hover {
  color: red;
}

.copy-button {
  color: white;
  border: none;

  margin-left: clamp(0.2em, 1vw, 1em);

  font-size: 70px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.copy-button:hover {
  color: greenyellow;
}

.copy-success {
  color: green;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dialog-status-icon {
  display: flex;

  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.2em;
  border-radius: 50%;
}

.dialog-status-icon.dialog-info {
  background-color: #dbeafe;
  color: #2563eb;
}

.dialog-status-icon.dialog-info.dark {
  background-color: rgba(59, 130, 246, 0.2);
  color: #dbeafe;
}

.dialog-status-icon.dialog-success {
  background-color: #d1fae5;
  color: #059669;
}

.dialog-status-icon.dialog-success.dark {
  background-color: rgba(16, 185, 129, 0.2);
  color: #d1fae5;
}

.dialog-status-icon.dialog-warning {
  background-color: #fef3c7;
  color: #d97706;
}

.dialog-status-icon.dialog-warning.dark {
  color: #fef3c7;
}

.dialog-status-icon.dialog-danger {
  background-color: #fecaca;
  color: #dc2626;
}

.dialog-status-icon.dialog-danger.dark {
  color: #fecaca;
}

.dialog-status-icon span {
  font-size: 2rem;
}

.dialog-title {
  display: flex;
  gap: 1em;
  align-items: center;
}

.dialog-actions {
  width: 100%;
  display: flex;
  gap: 1em;
  margin-right: 4em;
  align-items: center;
  justify-content: flex-end;
}

.dialog-cancel-button,
.dialog-confirm-button {
  padding: clamp(8px, 1.5vw, 10px);
  width: clamp(120px, 5vw, 180px);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  border: 2px solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(3px, 0.5vw, 4px) solid var(--outline-color);
  transition: transform 0.2s ease-in-out;
  color: #20618e;
  font-weight: bold;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
}
.dialog-cancel-button:hover,
.dialog-confirm-button:hover {
  outline: clamp(3px, 0.5vw, 4px) solid var(--outline-hover-color);
}
