@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid-Circular-A-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid-Circular-A-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Euclid", sans-serif;
}

:root {
  --background: #0a1027;
  --base-font-size: 1.8em;
  --base-line-height: 1.2;
  --icon-size: 3em;
  --font-bold: bolder;
  --start-btn-gradient: linear-gradient(
    0deg,
    rgba(141, 203, 44, 1) 42%,
    rgba(173, 224, 61, 1) 98%
  );
  --button-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  --outline-color: rgba(255, 255, 255, 0.5);
  --outline-hover-color: #ffb402;
  --nav-btn-gradient: linear-gradient(
    0deg,
    #94cbff 0%,
    #94cbff 1%,
    #ffffff 100%
  );
  --nav-btn-border: rgba(206, 230, 252, 1);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-page {
  /* min-width: 100vw; */
  min-height: 100vh;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: auto;
  /* overflow-x: hidden; */
  min-height: 100vh;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100vh;
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
}

.coming-soon > p {
  border-bottom: 6px solid white;
}
