@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid-Circular-A-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Euclid";
  src: url("/fonts/Euclid-Circular-A-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Euclid", sans-serif;
}

:root {
  --background: #0a1027;
  --base-font-size: 1.8em;
  --base-line-height: 1.2;
  --icon-size: 3em;
  --font-bold: bolder;
  --start-btn-gradient: linear-gradient(
    0deg,
    rgba(141, 203, 44, 1) 42%,
    rgba(173, 224, 61, 1) 98%
  );
  --button-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  --outline-color: rgba(255, 255, 255, 0.5);
  --outline-hover-color: #ffb402;
  --nav-btn-gradient: linear-gradient(
    0deg,
    #94cbff 0%,
    #94cbff 1%,
    #ffffff 100%
  );
  --nav-btn-border: rgba(206, 230, 252, 1);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-page {
  /* min-width: 100vw; */
  min-height: 100vh;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: auto;
  /* overflow-x: hidden; */
  min-height: 100vh;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100vh;
  font-size: 10rem;
  font-weight: bolder;
  text-align: center;
}

.coming-soon > p {
  border-bottom: 6px solid white;
}

.select-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 1vw, 1.6rem);
}

.select-box-children {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: clamp(1rem, 3vw, 1.8rem);
}

.select-box-children > h2 {
  font-size: clamp(0.6em, 2vw, 0.8em);
}

.select-box > select {
  appearance: none;
  border-radius: 8px;
  height: fit-content;
  box-shadow: var(--button-shadow);
  border: clamp(2px, 0.5vw, 4px) solid var(--nav-btn-border);
  background: var(--nav-btn-gradient);
  outline: clamp(2px, 0.5vw, 4px) solid var(--outline-color);
  padding: clamp(0.6rem, 2vw, 0.8rem);
  flex: 1;
  font-size: clamp(0.6em, 2vw, 0.8em);
  font-weight: bold;
  color: #20618e;
  cursor: pointer;
}

.select-box > select > option {
  background: #fff;
  font-size: clamp(0.6em, 2vw, 0.8em);
}
.select-box > select::-ms-expand {
  display: none;
}

.select-box {
  position: relative;
  display: flex;
  width: clamp(10rem, 20vw, 15em);
  height: clamp(2em, 5vw, 4em);
}

.select-box::after {
  content: "";
  position: absolute;
  top: 20%;
  right: 5%;
  width: clamp(1px, 0.8vw, 2px);
  height: clamp(1px, 0.8vw, 2px);
  background-image: url("/images/categories/question-dropdown-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: clamp(0.4em, 2vw, 0.7em);
  transition: 0.25s all ease;
  pointer-events: none;
}

.adaptable-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  max-width: 70%;
  margin: 2rem auto auto auto;
}

@media screen and (max-width: 1200px) {
  .adaptable-container {
    max-width: 90%;
  }
}
